<html>
<head>
    <title>decrypt</title>
    <!-- <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
</head>
<body class="bg-warning">
    <div class="container">


    <h1 class="container border border-dark mt-2 mb-5 font-weight-bold"> cipherApp </h1>
    <h2>welcome please decrypt message: </h2>

    <form method="post">
        <div class="form-group">
            <label>message: </label>
            <input class="w-75 form-control" type="string" name="message" value="{{ message }}"/>
            <br>
            <label>key: </label>
            <input class="form-control w-25" type="string" name="key" value="{{ key }}"/>
        <button class="btn btn-info" type="submit" value="decrypt"> decrypt </button>
    </form>

    <div>
    <br>
    <br>


        encrypted massage:
        <p class="text-info text-lg-center"> {{ result }}  </p>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div>
        <h1>
            <p>back to main page</p>
            <a href="index">
                <button class="btn btn-info"> ENCRYPT </button>
        </a>
        </h1>

    </div>

    </div>
</body>
</html>