<html>
<head>
    <title>cipherApp</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="container text-info">


        <h1 class="container border border-dark mt-2 mb-5 font-weight-bold"> cipherApp </h1>
        <h2 class="container text-center mb-5">welcome please enter message to encrypt with your key: </h2>

        <form method="post">
            <div class="form-group">
            <label>message: </label>
            <input class="w-75 form-control" type="string" name="message" value="{{ message }}" required="true"/>
            <br>
            <label>key: </label>
            <input class="form-control w-25" type="string" name="key" value="{{ key }}" required="true"/>
            <button type="submit" value="encrypt" class="btn btn-primary m-3">encrypt</button>
            </div>
        </form>

        <div class="container m-5 d-flex text-center">
            Cipher message:
            <textarea name="cipher" id="" cols="30" rows="1">{{result}}</textarea>
        </div>
        <br>
        <hr>
        <br>
        <br>

        <div class="container text-left text-primary">
            <h1>Here you can decrypt message</h1>
            <h1>
                <a href="decrypted"><button class="btn btn-warning"> DECRYPT </button>
            </a>
            </h1>
        </div>

    </div>
</body>
</html>